Repository Interkarma/daggerfall-unity, pull requests merged in 2020-05, with the labels that each got.

#1804 Update support for mod manifest file
  Assets/Editor/.Schemas/ModInfo.schema.json
  Assets/Game/Addons/ModSupport/ModTypes.cs
Labels: mod system

#1813 Prevent leaving character recap screen with unassigned bonuses
  Assets/Scripts/Game/UserInterfaceWindows/CreateCharSummary.cs
Labels: bug

#1812 Improve handling of mod dependency issues
  Assets/Game/Addons/ModSupport/ModLoaderInterfaceWindow.cs
  Assets/Game/Addons/ModSupport/ModManager.cs
  Assets/StreamingAssets/Text/ModSystem.txt
Labels: enhancement, mod system
