Repository Interkarma/daggerfall-unity, pull requests merged in 2020-08, with the labels that each got.

#1890 Improve mod builder
  Assets/Game/Addons/ModSupport/Editor/CreateModEditorWindow.cs
Labels: enhancement, mod system

#1869 Upgrade support for providers of mobile person graphics
  Assets/Scripts/Game/MobilePersonMotor.cs
  Assets/Scripts/Internal/MobilePersonBillboard.cs
Labels: mod system

#1892 quests: remove extraneous empty messages
  Assets/StreamingAssets/Quests/A0C00Y16.txt
  Assets/StreamingAssets/Quests/C0B00Y01.txt
  Assets/StreamingAssets/Quests/K0C00Y05.txt
  Assets/StreamingAssets/Quests/N0B40Y07.txt
  Assets/StreamingAssets/Quests/P0B20L09.txt
  Assets/StreamingAssets/Quests/Q0C00Y04.txt
Labels: questing

#1893 Add run quest action
  Assets/Scripts/Game/Questing/Actions/RunQuest.cs
  Assets/Scripts/Game/Questing/Actions/RunQuest.cs.meta
  Assets/Scripts/Game/Questing/QuestMachine.cs
Labels: questing
